.title {
    color: #333;
    line-height: 2;
}

.title span {
    background: linear-gradient(to right, #ec695e, #61c454) no-repeat right bottom;
    background-size: 0px 3px;
    transition: background-size 1300ms;
}

.title span:hover {
    background-position-x: left;
    background-size: 100% 2px;
}