* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    padding-top: 200px;
    background-color: #222;
    .tabs {
        margin: 0 auto;
        position: relative;
        padding: 35px 0;
        .content {
            border-radius: 20px;
            position: absolute;
            width: 600px;
            height: 400px;
            background-color: aqua;
            left: 80px;
            top: 0;
            h2 {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.2s;
            }
        }
        input {
            display: none;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}):checked ~ .icon .lbg {
                    top: 25% * ($i - 1)
                }
                &:nth-child(#{$i}):checked ~ .content h2:nth-child(#{$i}) {
                    opacity: 1;
                    // top: 25% * ($i - 1)
                }
            }
        }
        .icon {
            display: flex;
            flex-direction: column;
            position: relative;
            label {
                width: 80px;
                height: 80px;
                line-height: 80px;
                z-index: 2;
                text-align: center;
                // color: white;
            }
            .lbg {
                width: 80px;
                height: 80px;
                position: absolute;
                background: aqua;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                &::before {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    box-shadow: 10px 10px 0px 8px aqua;
                    border-bottom-right-radius: 30px;
                    top: -20px;
                    right: 0;
                    content: "";
                }
                &::after {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    box-shadow: 10px -10px 0px 8px aqua;
                    border-top-right-radius: 30px;
                    bottom: -20px;
                    right: 0;
                    content: "";
                }
            }
        }
    }
}